# ==============================================================================
# LM STUDIO API SERVER ENVIRONMENT VARIABLES
# ==============================================================================

# Local LM Studio API server URL.
# Use http://localhost:1234 when running Python on the same machine as LM Studio.

# LM_STUDIO_BASE_URL=http://localhost:1234
LM_STUDIO_BASE_URL=http://$(cat /etc/resolv.conf | grep nameserver | awk '{print $2}'):1234
MODEL_NAME=<ENTER_LOCAL_MODEL_NAME>


